#div1 {
    height: 60vh;
    margin: 10px;
    background: #C265C5;
    position: relative;
}

#div1>#hijoDiv1>h3 {
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

#div1>#hijoDiv1>.circulo {
    height: 150px;
    width: 150px;
    border: 8px solid white;
    border-radius: 100px;
    background: palevioletred;
    position: absolute;
    top: 30%;
    left: 25%;
}

#div1>#hijoDiv1>.text1 {
    position: absolute;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align: right;
    font-size: 30px;
    left: 31%;
    top: 38%;
}

#div1>#hijoDiv1>.text2 {
    position: absolute;
    color: white;
    font-family: "Pacifico", cursive;
    left: 22%;
    top: 85%;
}